<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Axl Protocol Music</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="releases">
                <span class="bi bi-vinyl-fill-nav-menu" aria-hidden="true"></span> Releases
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="news">
                <span class="bi bi-megaphone-fill-nav-menu" aria-hidden="true"></span> News
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about-axl-protocol">
                <span class="bi bi-mic-fill-nav-menu" aria-hidden="true"></span> About Axl Protocol
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="timeline">
                <span class="bi bi-clock-history-nav-menu" aria-hidden="true"></span> Timeline
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="privacy">
                <span class="bi bi-shield-lock-nav-menu" aria-hidden="true"></span> Privacy
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        <span class="bi bi-speedometer2-nav-menu" aria-hidden="true"></span> Admin
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account/edit">
                        <span class="bi bi-person-circle-nav-menu" aria-hidden="true"></span> Account
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <form method="post" action="/account/logout">
                        <AntiforgeryToken />
                        <button type="submit" class="nav-link btn btn-link border-0 p-0">
                            <span class="bi bi-box-arrow-right-nav-menu" aria-hidden="true"></span> Log out
                        </button>
                    </form>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
